### Go ###
bin/
coverage/
*.test
*.out
go.work

### Nix ###
result

### Release ###
CHANGELOG.md

### GoLand/Intellij ###
.idea/
*.iml
.run/
coverage.out
.run
*.iws
out/

### AI ###
.claude
CLAUDE.md
.agents/
skills-lock.json

### Misc ###
.plans/